[Unit]
Description=dnscrypt-proxy listening socket

[Socket]
ListenStream=127.0.0.1:62315
ListenDatagram=127.0.0.1:62315

[Install]
WantedBy=sockets.target
