[Unit]
Description=compton

[Service]
ExecStart=/usr/bin/compton
# For unknown reasons the first time it crashes.
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
