[Unit]
Description=Emacs client frame
Requires=emacs.service
After=emacs.service
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/zsh -i -c 'emacsclient -c'

[Install]
WantedBy=graphical-session.target
