[Unit]
Description=Emacs client frame
Requires=emacs.service
After=emacs.service

[Service]
ExecStart=/usr/local/bin/emacsclient -c

[Install]
WantedBy=default.target
