[Unit]
Description=Set monitor initial mode

[Service]
Type=oneshot
ExecStart=/usr/local/bin/monitor-set-initial-mode
# Because reloading qtile will systemctl start it again.
# And monitor-only-external will reload qtile.
RemainAfterExit=true

[Install]
WantedBy=default.target
