[Unit]
Description=Slack
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecCondition=/usr/bin/python -c 'import datetime, sys; now = datetime.datetime.now(); is_at_work = (now.weekday() < 5 and now.hour < 19 and now.hour > 8); sys.exit(0 if is_at_work else 1)'
ExecStart=/usr/bin/flatpak run com.slack.Slack
# Workaround cause flatpak messes with cgroup namespaces so systemd loses track
# of the processes.
ExecStop=/usr/bin/flatpak kill com.slack.Slack


[Install]
WantedBy=graphical-session.target
