export WALLPAPER1=~/Pictures/wallpaper1
export WALLPAPER2=~/Pictures/wallpaper2
export TERMINAL=gnome-terminal

monitor-set-initial-mode

# disable need of FN for F3
xmodmap -e "keycode 128 = F3"

setxkbmap -model pc104{% for option in xkbmap.options %} -option {{ option }}{% endfor %}

emacs_mu4e () {
  for account in "$@"
  do
    emacs -q -l .emacs-mu4e-$account -T mu4e-$account -f mu4e &
  done
}

# startup programs
compton -CG --backend glx &
redshift-gtk &
firefox &
qtile-run -g WORK emacs &
clementine &
# emacs_mu4e i@danmilon.me
thunderbird &
emacs --daemon &
nm-applet &
gpaste-client &
blueman-applet &
WEEKDAY=$(date +%u)
HOUR=$(date +%H)
if [[ "$WEEKDAY" -le 5 && "$HOUR" -le 19 && "$HOUR" -ge 9 ]]; then
   slack &
fi

dropbox &
