[user]
	name = Dan Milon
	email = i@danmilon.me
[core]
	excludesfile = /home/danmilon/.gitignore_global

[color]
	diff = auto
	ui = true
[push]
	default = simple
	# Accompany tags on commits being pushed.
	followTags = true
[pager]
	status = true
[branch]
	autosetuprebase = always
[github]
	user = danmilon
[ghi]
	token = c5a616e0c82d0b26a415bc772d1f7be2f67deda8

[gitlab "lab.plat.farm/api/v4"]
	user = danmilon
